# .NET Core build folders
bin/
obj/

# Common node modules locations
/obj
/bin
/bin/Debug/net10.0
bin/Debug/net10.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net10.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net10.0/Microsoft.Extensions.Logging.dll
bin/Debug/net10.0/Microsoft.Extensions.Options.dll
bin/Debug/net10.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net10.0/WeebBotV2.deps.json
bin/Debug/net10.0/WeebBotV2.dll
bin/Debug/net10.0/WeebBotV2.exe
bin/Debug/net10.0/WeebBotV2.pdb
bin/Debug/net10.0/WeebBotV2.runtimeconfig.json
obj/Debug/net10.0/apphost.exe
obj/Debug/net10.0/ref/WeebBotV2.dll
obj/Debug/net10.0/refint/WeebBotV2.dll
obj/Debug/net10.0/WeebBotV2.AssemblyInfo.cs
obj/Debug/net10.0/WeebBotV2.AssemblyInfoInputs.cache
obj/Debug/net10.0/WeebBotV2.assets.cache
obj/Debug/net10.0/WeebBotV2.csproj.AssemblyReference.cache
obj/Debug/net10.0/WeebBotV2.csproj.CoreCompileInputs.cache
obj/Debug/net10.0/WeebBotV2.csproj.FileListAbsolute.txt
obj/Debug/net10.0/WeebBotV2.dll
obj/Debug/net10.0/WeebBotV2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/WeebBotV2.genruntimeconfig.cache
obj/Debug/net10.0/WeebBotV2.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/WeebBotV2.csproj.nuget.dgspec.json
obj/WeebBotV2.csproj.nuget.g.props
obj/WeebBotV2.csproj.nuget.g.targets
sql commands/Init.sql
